<div class="bg-neutral-primary-soft border-default rounded-base block max-w-sm border shadow-xs">
  <h2>Nombre de livres:</h2>
  <p>{{ dashboardSignal().values() }}</p>

  <!-- <h2>Emprunts actifs</h2>
  <ul>
    @for (loan of allOpenLoans(); track loan.id) {
      <li>{{ loan.bookCopy.book.title }}</li>
    }
  </ul>
  <h2>Retards</h2>
  <ul>
    @for (loan of allLateLoans(); track loan.id) {
      <li>{{ loan.bookCopy.book.title }}</li>
    }
  </ul>
  <h2>Livres les plus empruntés</h2>
  <ul>
    @for (loanedBook of mostLoanedBooks(); track loanedBook) {
      <li>zazz{{ loanedBook.id }}</li>
    }
  </ul> -->
</div>
