<div class="bg-neutral-primary-soft border-default rounded-base block max-w-sm border shadow-xs">
  <h2>Nombre de livres: {{ dashboardDTO().bookCount }}</h2>
  <p></p>

  <h2>Emprunts actifs</h2>
  <ul>
    @for (loan of dashboardDTO().openLoans; track loan.id) {
      <li>{{ loan.bookCopy.book.title }}</li>
    }
  </ul>
  <h2>Retards</h2>
  <ul>
    @for (loan of dashboardDTO().lateLoans; track loan.id) {
      <li>{{ loan.bookCopy.book.title }}</li>
    }
  </ul>
  <h2>Livres les plus empruntés</h2>
  <ul>
    @for (loanedBook of dashboardDTO().mostRead; track loanedBook) {
      <li>zazz{{ loanedBook.id }}</li>
    }
  </ul>
</div>
