<div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
<div class="bg-neutral-primary-soft block max-w-sm p-6 border border-default rounded-base shadow-xs">
  <h6>TODO: AJOUTER COMMENTAIRE IF CONNECTE</h6>
</div>

@defer (on timer(1000)) {
@if(bookReviews.length > 0){
    @for (review of bookReviews; track review.id) {
      <app-review-card [review]="review"></app-review-card>
    }
}
@else {
    <div>Il n'y a pas encore de reviews pour ce livre</div>
}
}
 @placeholder {
  <p class="text-gray-50">LOADING...</p>
}
</div>