<div class="flex flex-col gap-2">
  @if (label()) {
    <label [for]="id()" class="font-bold"
      >{{ label() }}
      @if (required()) {
        <span class="text-red-400">&#42;</span>
      }
    </label>
  }

  <!-- TODO: GREEN BORDER IF FIELD IS VALID -->
  <input
    [type]="type()"
    [id]="id()"
    class="block w-full rounded-lg border border-gray-700 bg-gray-700 px-3 py-2.5 text-base text-gray-50 shadow-xs placeholder:text-gray-400 focus:border-gray-50 focus:ring-gray-50"
    placeholder="{{ placeholder() }}"
    [value]="value()"
    (input)="value.set($any($event.target).value)"
    (blur)="touched.set(true)"
    [class.border-red-500]="invalid() && (dirty() || touched())"
  />

  @if (touched() && invalid()) {
    <ul>
      @for (error of errors(); track error.kind) {
        <li class="pl-2 text-sm text-red-400">{{ error.message }}</li>
      }
    </ul>
  }
</div>
