<div class="flex flex-col gap-2">
  @if (label()) {
    <label [for]="id()" class="font-bold"
      >{{ label() }}
      @if (required()) {
        <span class="text-red-400">&#42;</span>
      }
    </label>
  }

  <input
    [type]="type()"
    [id]="id()"
    class="block w-full rounded-lg bg-gray-700 px-3 py-2.5 text-gray-50 shadow-xs placeholder:text-gray-400"
    placeholder="{{ placeholder() }}"
    [value]="value()"
    (input)="value.set($any($event.target).value)"
    (blur)="touched.set(true)"
    [ngClass]="{
      'border-2 border-red-500': invalid() && (dirty() || touched()),
      'border-2 border-green-700': !invalid() && dirty(),
    }"
  />

  @if (touched() && invalid()) {
    <ul>
      @for (error of errors(); track error.kind) {
        <li class="pl-2 text-sm text-red-400">{{ error.message }}</li>
      }
    </ul>
  }
</div>
