<div
  class="bg-neutral-primary-soft border-default rounded-base block max-w-sm border p-6 shadow-xs"
>
  <h5 class="text-heading mt-6 mb-2 font-semibold tracking-tight">
    {{ review()?.datePublished | date: 'dd/MM/yyyy' }} - {{ review()?.user?.username }} :
  </h5>
  <p class="text-heading mt-6 mb-2 font-semibold tracking-tight">Commentaire:</p>
  <p class="text-body mb-6">{{ review()?.comment }}</p>
  <p class="text-heading mt-6 mb-2 font-semibold tracking-tight">
    Note: {{ review()?.score }} / 10
  </p>
</div>
