.form-error {
  color: rgb(255,100,103);
  font-size: 12px;
}

.auth-last-row {
  margin-top: 10px;
}

.auth-last-row a {
  text-decoration: underline;
}

.form-item button {
  margin-top: 10px;
}

.mt-btn-auth {
  margin-top: 30px;
}

main {
  display: flex;
  flex-direction: row;
}

.form-ok {
  color: #22c55e;
}

.msg-validation {
  font-size: 12px;
}

li {
  color: #999;
}

input {
  border: 1px solid #e4e4e4;
  border-radius: 2px;
  padding: 7px;
  width: 100%;
}
