<br>
<div class="search-bar">
  <input
    id="search"
    type="text"
    name="searchTerm"
    placeholder="Rechercher un livre..."
    #searchField
    [value]="searchTerm()"
    (input)="searchTerm.set(searchField.value)"
  />
</div>
<div>
  <h4>Filtrer par :</h4>
  <p>
    Disponibilités :
    <span class="btn-filter-v2">Toutes</span>
    @for (dispo of dispoCategories; track $index) {
      <span class="btn-filter-v2"> | {{ dispo }}</span>
    }
  </p>
  <p>
    Catégories :
    <span class="btn-filter-v2">Toutes</span>
    @for (catego of categories; track $index) {
      <span class="btn-filter-v2" onclick="tickUntick(catego)"> | {{ catego }}</span>
    }
  </p>
<!--  <li>-->
<!--    <a-->
<!--      [routerLink]="link.path"-->
<!--      routerLinkActive="bg-white/10 text-white font-bold"-->
<!--      [routerLinkActiveOptions]="{ exact: !!link.exact }"-->
<!--      class="block rounded-md px-3 py-2 text-sm text-gray-300 transition hover:bg-white/10 hover:text-white"-->
<!--      (click)="link.path === '/auth/logout' ? logout() : null"-->
<!--    >-->
<!--      {{ link.label }}-->
<!--    </a>-->
<!--  </li>-->

</div>
