<br>
<section class="flex w-full flex-col items-center justify-center">
  <article class="rounded-2xl bg-gray-800/80 p-8 md:max-w140 md:p-12">
    <br>
    <div class="search-bar" style="position: relative; width: 100%;">
      <input
        id="search"
        type="text"
        name="searchTerm"
        placeholder="Rechercher un livre par titre, auteur, ISBN"
        #searchField
        [value]="search()"
        (input)="search.set(searchField.value)"
      />
      <!--        (keydown.enter)="onSearch()"-->
      <!-- [value]="search()" : Signal → Input  (affichage) / Utile par exemple si tu veux réinitialiser le champ depuis le code -->
      <!-- (input)="search.set(searchField.value)": Input → Signal (saisie) -->
      <!-- La touche Entrée ne fonctionne nativement qu'à l'intérieur d'un <form>.
      Sans formulaire, (keydown.enter) est la solution la plus simple — une seule ligne à ajouter sur l'input ! -->
      @if (search()) {
        <span
          (click)="clearSearch(searchField)"
          style="position: absolute; right: 12px; top: 50%; transform: translateY(-50%); cursor: pointer; color: #aaa; font-size: 18px;">
          ✕
        </span>
      }
    </div>
    <div>
      <br>
      <h4>Filtrer par catégorie :</h4>
      <br>
      <div>
        @for (categ of categoryFiltersList(); track categ.key) {
          <span class="btn-filter-v2" (click)="toggleFiltersAndSorts(categoryFilters, categ.key)" [class.category-ticked]="categ.value">
          {{ categ.label }}
        </span>
        }
      </div>
      <br>
      <h4>Filtrer par disponibilité :</h4>
      <br>
      <div>
        @for (categ of availabilityFiltersList(); track categ.key) {
          <span class="btn-filter-v2" (click)="toggleFiltersAndSorts(availabilityFilters, categ.key, true)" [class.category-ticked]="categ.value">
            {{ categ.label }}
          </span>
        }
      </div>
      <br>
      <h4>Trier par :</h4>
      <br>
      @for (categ of sortList(); track categ.key) {
        @if(categ.key !== "ALL"){
          <span class="btn-filter-v2" (click)="toggleFiltersAndSorts(sorts, categ.key, true)" [class.category-ticked]="categ.value">
              {{ categ.label }}
          </span>
        }
      }
<!--      Date de parution récente, Titre A->Z, Titre Z->A, Mieux noté  -->

<!--      <br>-->
<!--      <app-button label="Rechercher en librarie" (clickAction)="onSearch()" />-->
    </div>
  </article>
</section>
