<div class="flex flex-col p-7">
  <div class="flex flex-wrap gap-2">
    <div
      (click)="navigateToDetails(book().id.toString())"
      class="card bg-neutral-primary-soft rounded-base block border shadow-xs"
    >
      @if (book().coverUrl) {
        <img class="rounded-t-base" [src]="book().coverUrl" alt="book cover" />
      } @else {
        <img class="rounded-t-base" src="images/empty-cover-img.png" alt="no cover available" />
      }
      <div class="p-6 text-center">
        <div class="content flex items-center justify-center text-center">
          <h5 class="text-heading font-semibold tracking-tight">
            {{ book().author }} - {{ book().title }}
          </h5>
        </div>
      </div>
    </div>
  </div>
</div>
