<h2>Notre Catalogue</h2>

@if (isLoading()) {
  <div class="grid grid-cols-3 gap-8 p-8">
    <p (click)="previousPage()" class="text-center underline">Page Précédente</p>
    <p class="text-center">{{ currentPage + 1 }} / {{ bookPage.totalPages }}</p>
    <p class="text-center underline" (click)="nextPage()">Page Suivante</p>
  </div>

  <p class="text-gray-50">LOADING...</p>
} @else {
  <div
    class="grid grid-cols-1 gap-8 p-8 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4"
  >
    <div>
      @for (book of books; track book.isbn) {
        <app-book-card
          class="transform cursor-pointer transition-transform duration-300 ease-in-out hover:scale-105"
          [book]="book"
        />
        <!-- TODO : Afficher le bouton si rôle currentUser == Librarian -->
        <app-button label="Modifier ce livre" (clickAction)="goToEditBook(book)" />
      }
    </div>
  </div>

  <div class="grid grid-cols-3 gap-8 p-8">
    <p (click)="previousPage()" class="text-center underline">Page Précédente</p>
    <p class="text-center">{{ currentPage + 1 }} / {{ bookPage.totalPages }}</p>
    <p class="text-center underline" (click)="nextPage()">Page Suivante</p>
  </div>
}
