<div class="bg-neutral-primary-soft border-default rounded-base block max-w-sm border shadow-xs">
  <div class="p-6 text-center">
    @if (isAuthenticated()) {
      @defer (on timer(1000)) {
        <ul class="w-full">
          @if (bookCopies.length > 0) {
            @if (loanService.checkAvailable(bookCopies)) {
              <app-button
                label="Emprunter ce livre"
                [disabled]="false"
                (clickAction)="loanBook()"
              ></app-button>
            } @else {
              <p>Désolé il n'y a pas de copies disponibles pour le moment.</p>
              <p>
                Voulez vous être notifié quand il sera disponible? Mettez vous sur la liste
                d'attente!
              </p>
              <br>
              <app-button
                label="Liste dattente"
                [disabled]="false"
                (clickAction)="addReservation(book().id, currentUser()!.id)"
              ></app-button>
            }
          } @else {
            <p>Désolé il n'y a pas de copies de ce livre dans cette bibliothèque.</p>
          }
        </ul>
      } @placeholder {
        <p class="text-gray-50">LOADING...</p>
      }
    } @else {
      <p>Veuillez vous connecter pour emprunter ce livre.</p>
      <br>
      <app-button label="Se Connecter" (clickAction)="goToLogin()" [disabled]="false"></app-button>
    }
  </div>
</div>
