/* You can add global styles to this file, and also import other style files */
@use 'app/scss/_variables' as *;
@use '@angular/cdk';
@include cdk.text-field-autosize;

body {
  background-color: oklch(0.141 0.005 285.823);
  color: oklch(0.985 0 0);
  width: 100%;
}

main {
  min-height: calc(100dvh - $header-height - $footer-height);
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1em;
}

textarea {
  resize: none;
}
