<div class="bg-neutral-primary-soft border-default rounded-base block max-w-sm border shadow-xs">
  <a>
    <img class="rounded-t-base" [src]="book().coverUrl" alt="book cover" />
  </a>
  <div class="p-6 text-center">
    <p class="text-heading mt-3 mb-6 text-2xl font-semibold tracking-tight">
      Category: {{ book().category.category }}
    </p>
    <p class="text-heading mt-3 mb-6 text-2xl font-semibold tracking-tight">
      Auteur: {{ book().author }}
    </p>
    <p class="text-heading mt-3 mb-6 text-2xl font-semibold tracking-tight">
      Titre: {{ book().title }}
    </p>
    <p class="text-heading mt-3 mb-6 text-2xl font-semibold tracking-tight">
      Description: {{ book().description }}
    </p>
        <p class="text-heading mt-3 mb-6 text-2xl font-semibold tracking-tight">
      ISBN: {{ book().isbn }}
        </p>
  </div>
</div>
